/* ---------- MOBILE (768px and below) ---------- */
@media (max-width: 768px) {
    .scroll-text {
        font-size: 28px;
        text-align: center;
        line-height: 1.4;
    }

    .arrow {
        font-size: 1.8rem;
        margin-left: 6px;
    }

    .top-header {
        width: 90%;
        font-size: 28px;
        /* padding: 40px 10px; */
    }

    .card {
        width: 90%;
        height: 90vh;
        flex-direction: column;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
    }

    .card-content {
        width: 100%;
        border-radius: 10px;
        padding: 30px 20px 10px 20px;
        justify-content: start;
        /* border: 1px solid red; */
        align-items: center;
        /* border: 1px solid red; */
    }

    .card-inner-heading {
        padding: 0 10px;
        font-size: 18px;
        width: 100%;
        text-align: left;
    }

    .card-description {
        font-size: 14px;
        padding: 0 10px;
        line-height: 20px;
        text-align: left;
    }



    .card-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

    }


    .card-image picture {
        height: 100%;
        width: 100%;
        border: 1px solid blue;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
    }

    .card-image,
    .card-video {
        width: 100%;
        height: 280px;
        border: none;
    }

    .card-image picture {
        border: none;
    }

   
    .end-spacer h1 {
        font-size: 20px;
        text-align: center;
    }
}


/* ---------- LARGE SCREENS (1025px and above) ---------- */
@media (min-width: 1600px) {

    /* Main section heading */
    .top-header {
        font-size: 60px;
        padding: 80px 0;
        line-height: 1.3;
    }

    /* Scroll text size (top section) */
    .scroll-text {
        font-size: 70px;
        letter-spacing: 3px;
    }

    .arrow {
        font-size: 3rem;
    }

    /* Card heading and paragraph */
    .card-inner-heading {
        font-size: 32px;
        line-height: 1.3;
    }

    .card-description {
        font-size: 17px;
        line-height: 26px;
    }

    /* Card content padding */
    .card-content {
        padding: 80px;
    }

    /* Top section h1 text */
    .spacer h1 {
        font-size: 3rem;
    }

    /* End section */
    .end-spacer h1 {
        font-size: 2.5rem;
    }
}